<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <header>
    <ul>
      <li>Music</li>
      <li>Artists</li>
      <li>Events</li>
    </ul>
    
  </header>
  <body>
    <%= yield %>
    
  </body>
</html>
